<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
 <meta
    http-equiv="content-type"
    content="text/html;charset=utf-8"
  />
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="author" content="mironcoder" />
    <meta name="email" content="mironcoder@gmail.com" />
    <meta name="profile" content="https://themeforest.net/user/mironcoder" />
    <meta name="template" content="greeny" />
    <meta name="title" content="greeny - Ecommerce Food Store HTML Template" />
    <meta
      name="keywords"
      content="organic, food, shop, ecommerce, store, html, bootstrap, template, agriculture, vegetables, products, farm, grocery, natural, online"
    />
    <title>Greeny - Login</title>
    <link rel="icon" href="images/favicon.png" />
    <link rel="stylesheet" href="fonts/flaticon/flaticon.css" />
    <link rel="stylesheet" href="fonts/icofont/icofont.min.css" />
    <link rel="stylesheet" href="fonts/fontawesome/fontawesome.min.css" />
    <link rel="stylesheet" href="vendor/venobox/venobox.min.css" />
    <link rel="stylesheet" href="vendor/slickslider/slick.min.css" />
    <link rel="stylesheet" href="vendor/niceselect/nice-select.min.css" />
    <link rel="stylesheet" href="vendor/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/user-auth.css" />
  </head>
  <body>
    <section class="user-form-part">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-sm-10 col-md-12 col-lg-12 col-xl-10">
            <div class="user-form-logo">
              <a href="/trang-chu"><img src="images/logo.png" alt="logo" /></a>
            </div>
            <div class="user-form-card">
              <div class="user-form-title">
                <h2>Xin chào!</h2>
                <p>Sử Dụng Thông Tin Đăng Nhập Của Bạn Để Truy Cập</p>
              </div>
              <div class="user-form-group">
                <ul class="user-form-social">
                  <li>
                    <a href="#" class="facebook"
                      ><i class="fab fa-facebook-f"></i>login with facebook</a
                    >
                  </li>

                  <li>
                    <a href="#" class="google"
                      ><i class="fab fa-google"></i>login with google</a
                    >
                  </li>

                </ul>
                <div class="user-form-divider"><p>hoặc</p></div>
                <div class="alert alert-success text-center" role="alert"
					th:if="${message}">
					<strong>Chúc mừng!</strong> Bạn đã đăng kí thành công! Hãy đăng
					nhập để dễ dàng sử dụng.
				</div>
				<div class="alert alert-danger text-center" role="alert"
					th:if="${error}">Tài khoản hoặc mật khẩu không đúng!</div>
                <!-- <form th:action="@{/doLogin}" method="post" class="user-form">
                  <div class="form-group">
                    <input
                      type="email"
                      name="username"
                      class="form-control"
                      placeholder="Nhập Email của bạn"
                    />
                  </div>
                  <div class="form-group">
                    <input
                      type="password"
                      name="password"
                      class="form-control"
                      placeholder="Nhập mật khẩu của bạn"
                    />
                  </div>
                  <div class="form-check mb-3">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      value=""
                      id="check"
                    /><label class="form-check-label" for="check"
                      >Ghi nhớ tài khoản</label
                    >
                  </div>
                  <div class="form-button">
                    <button type="submit">Đăng nhập</button>
                    <p>
                        Quên Mật Khẩu?<a href="reset-password.html"
                        >Tại đây</a
                      >
                    </p>
                  </div>
                </form> -->
                
                
                <form th:action="@{/doLogin}" method="post">
					
					<!-- error message -->
					<div th:if="${param.error}">
						<div class="alert alert-danger">Invalid username or
							password.</div>
					</div>
				
					<!-- logout message -->
					<div th:if="${param.logout}">
						<div class="alert alert-info">You have been logged out.</div>
					</div>
					
					<div class = "form-group">
						<label for ="username"> Username </label> :
						<input type="text" class = "form-control" id ="email" name = "email"
						placeholder="Enter Email ID" autofocus="autofocus">
					</div>
					
					<div class="form-group">
						<label for="password">Password</label>: <input type="password"
							id="password" name="password" class="form-control"
							placeholder="Enter Password" />
					</div>
					
					<div class="form-group">
						<div class="row">
							<div class="col-sm-6 col-sm-offset-3">
								<input type="submit" name="login-submit" id="login-submit"
									class="form-control btn btn-primary" value="Log In" />
							</div>
						</div>
					</div>
				</form>
                
                
              </div>
            </div>
            <div class="user-form-remind">
              <p>
                Không Có Bất Kỳ Tài Khoản?<a href="/dang-ky">Đăng Ký Tại Đây</a>
              </p>
            </div>
            <div class="user-form-footer">
              <p>Greeny | &COPY; Developer by <a href="#">DongTHD</a></p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script src="vendor/bootstrap/jquery-1.12.4.min.js"></script>
    <script src="vendor/bootstrap/popper.min.js"></script>
    <script src="vendor/bootstrap/bootstrap.min.js"></script>
    <script src="vendor/countdown/countdown.min.js"></script>
    <script src="vendor/niceselect/nice-select.min.js"></script>
    <script src="vendor/slickslider/slick.min.js"></script>
    <script src="vendor/venobox/venobox.min.js"></script>
    <script src="js/nice-select.js"></script>
    <script src="js/countdown.js"></script>
    <script src="js/accordion.js"></script>
    <script src="js/venobox.js"></script>
    <script src="js/slick.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
